<script>
  import { onMount } from "svelte/internal";
  import { SvelteToast } from "@zerodevx/svelte-toast";
  import { writable } from "svelte/store";
  import SignIn from "./user/signIn.svelte";
  import Loading from "../components/Loading.svelte";
  import NavBar from "../components/navbar.svelte";
  onMount(() => {
    isSignedIn();
  });

  async function isSignedIn() {
    let session_token = localStorage.getItem("session_token");
    var requestOptions = {
      method: "GET",
      headers: [
        ["Content-Type", "application/json"],
        ["Authorization", "Bearer " + session_token],
      ],
    };

    let r = await fetch(`${import.meta.env.VITE_API_URL}/user`, requestOptions);

    if (window.location.pathname == "/user/signIn" && r.ok) {
      window.location.replace("/");
    } else if (window.location.pathname == "/user/signUp") {
      return true;
    }
    return r.ok;
  }
</script>

<svelte:head>
  <title>Ämtliplan</title>
</svelte:head>

<div class="min-vh-100 mx-0 main">
  {#await isSignedIn()}
    <Loading />
  {:then isSignedIn}
    {#if isSignedIn}
      {#if window.location.pathname != "/dashboard/screen"}
        <NavBar />
      {/if}
      <slot />
    {:else}
      <SignIn />
    {/if}
  {/await}
</div>

<SvelteToast />

<style>
  :root {
    --toastHeight: 80px;
    --toastContainerTop: auto;
    --toastContainerRight: 1rem;
    --toastContainerBottom: 2rem;
  }
</style>
