<script lang="ts">
  import Card from "../../components/card.svelte";
  import globalTS from "../../ts/global";
  import Loading from "../../components/Loading.svelte";
  import user from "../../ts/user";
  import userTasks from "../../ts/userTasks";
  import taskFunction from "../../ts/task";
  import { dateToTime } from "../../ts/global";
  import type prisma from "@prisma/client";
  import task from "../../ts/task";
  let user_id;

  type task = prisma.tasks & { task: prisma.tasks };
  let taskList: Array<task> = [];
  let editTask: Partial<task>;
  let createTask: Partial<task>;

  const getTasks = async () => (taskList = await taskFunction.get());

  (async () => {
    user_id = (await user.get()).user_id;
    await getTasks();
    editTask = taskList[0];
    createTask = taskList[0];
  })();
</script>

<div class="row d-flex justify-content-center">
  <div
    class="ms-xl-5 ms-md-5 ms-sm-1 white-box col-xl-9 col-lg-6 col-md-11 col-sm-12"
  >
    <h2 class="text-center mb-3 mt-3">Task Management</h2>
    <button
      on:click={() =>
        (createTask = {
          img_name: "",
          name: "",
          description: "",
          deadline_time: "17:00",
          hasStatus: true,
        })}
      data-bs-toggle="modal"
      data-bs-target="#newTaskModal"
      class=" btn floating-action-button"><i class="fas fa-plus" /></button
    >

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Bild</th>
          <th scope="col">Name</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Deadline</th>
          <th scope="col">Hat Status</th>
        </tr>
      </thead>
      <tbody>
        {#each taskList as task}
          <tr>
            <td
              ><img
                src="/img/task_images/{task.img_name}"
                alt=""
                height="30px"
              /></td
            >
            <th scope="row">{task.name}</th>
            <td>{task.description ?? "-"}</td>
            <td>{dateToTime(new Date(task.deadline_time))}</td>
            <td>{task.hasStatus ? "Ja" : "Nein"}</td>
            <td>
              <button
                on:click={() =>
                  (editTask = {
                    task_id: task.task_id,
                    img_name: task.img_name,
                    name: task.name,
                    description: task.description,
                    deadline_time: dateToTime(new Date(task.deadline_time)),
                    hasStatus: task.hasStatus,
                  })}
                class="btn btn-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#updateTaskModal"
              >
                <i class="fas fa-pen" /></button
              ></td
            >
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>

{#if editTask != undefined}
  <!-- Edit task modal -->
  <div
    class="modal fade"
    id="updateTaskModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {editTask.name} bearbeiten
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <form
            on:submit|preventDefault={() =>
              taskFunction.update(editTask, editTask.task_id)}
          >
            <div class="mb-4">
              <p class="mb-1">Name</p>
              <input
                type="text"
                class="form-control"
                bind:value={editTask.name}
              />
              <p class="mb-1 mt-4">Beschreibung</p>
              <textarea
                class="form-control"
                bind:value={editTask.description}
              />
              <p class="mb-1 mt-4">Deadline</p>
              <input
                type="text"
                class="form-control"
                bind:value={editTask.deadline_time}
              />
              <p class="mb-1 mt-4">Bild Name</p>
              <input
                type="text"
                class="form-control"
                bind:value={editTask.img_name}
              />
              <div class="d-flex mb-1 mt-4 ">
                <p class="mb-0 me-4">Hat status?</p>
                <input
                  type="checkbox"
                  class=""
                  checked={editTask.hasStatus}
                  on:change={() => (editTask.hasStatus = !editTask.hasStatus)}
                />
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Speichern</button>
              <button
                type="submit"
                class="btn text-white bg-danger"
                on:click={() => taskFunction.deleteTask(editTask.task_id)}
                >Löschen</button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{/if}
{#if createTask != undefined}
  <!-- Create task modal -->
  <div
    class="modal fade"
    id="newTaskModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Neues Ämtli</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <form
            on:submit|preventDefault={() => taskFunction.create(createTask)}
          >
            <div class="mb-4">
              <p class="mb-1">Name</p>
              <input
                type="text"
                class="form-control"
                bind:value={createTask.name}
              />
              <p class="mb-1 mt-4">Beschreibung</p>
              <textarea
                class="form-control"
                bind:value={createTask.description}
              />
              <p class="mb-1 mt-4">Deadline</p>
              <input
                type="text"
                class="form-control"
                bind:value={createTask.deadline_time}
              />
              <p class="mb-1 mt-4">Bild Name</p>
              <input
                type="text"
                class="form-control"
                bind:value={createTask.img_name}
              />
              <div class="d-flex mb-1 mt-4 ">
                <p class="mb-0 me-4">Hat status?</p>
                <input
                  type="checkbox"
                  class=""
                  checked={createTask.hasStatus}
                  on:change={() =>
                    (createTask.hasStatus = !createTask.hasStatus)}
                />
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{/if}

<style>
  .floating-action-button {
    margin: 10px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #0069ff;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
</style>
