<script>
  import userTaks from "../../ts/userTasks";
  import user from "../../ts/user";
  import globalTS from "../../ts/global";

  let user_id;
  let yesterday = new Date(new Date().setDate(new Date().getDate() - 1))
    .toISOString()
    .slice(0, 10);

  let twoWeeksAgo = () =>
    new Date(new Date().setDate(new Date().getDate() - 14))
      .toISOString()
      .slice(0, 10);

  let usertaskList = [];

  const getUserTasks = async () =>
    (usertaskList = await userTaks.get(
      `?sortOrder=desc&startDate=${twoWeeksAgo()}
      &endDate=${yesterday}`
    ));

  (async () => {
    user_id = (await user.get()).user_id;
    getUserTasks();
  })();
</script>

<div class="d-flex justify-content-center">
  <div
    class="ms-xl-5 ms-md-0 ms-sm-1 white-box col-lg-8 col-md-11 col-sm-11 col-11"
  >
    <div class="col-12">
      <h2 class="text-center mb-3 mt-3">Task-History</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Aufgabe</th>
            <th scope="col">Zuständiger</th>
            <th scope="col">Stellvertreter</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {#each usertaskList as task}
            <tr>
              <th scope="row">{globalTS.dateFormatter(task.date)}</th>
              <td>{task.task.name}</td>
              <td
                >{task.user_assigned.first_name +
                  " " +
                  task.user_assigned.last_name}</td
              >
              <td
                >{task.user_assigned_dep.first_name +
                  " " +
                  task.user_assigned_dep.last_name}</td
              >
              <td>
                {#if !task.task.hasStatus}
                  <p>-</p>
                {:else if task.isDone}
                  <p style="color: #16c60c">Gemacht</p>
                {:else}
                  <p style="color: #f92b60">Vergessen</p>
                {/if}</td
              >
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </div>
</div>
