<script lang="ts">
  import Card from "../../components/card.svelte";
  import userTaks from "../../ts/userTasks";
  import globalTS from "../../ts/global";
  import Loading from "../../components/Loading.svelte";
  import user from "../../ts/user";
  import userTasks from "../../ts/userTasks";
  import { loop_guard } from "svelte/internal";
  import type prisma from "@prisma/client";
  let user_id;

  let userTaskList = [];

  const getUserTasks = async () =>
    (userTaskList = await userTaks.get(
      "?startDate=" + new Date().toISOString().slice(0, 10)
    ));

  (async () => {
    user_id = (await user.get()).user_id;
    getUserTasks();
  })();
</script>

<div class="row d-flex justify-content-center">
  <div
    class="ms-xl-5 ms-md-5 ms-sm-1 white-box col-xl-9 col-lg-6 col-md-11 col-sm-12"
  >
    <h2 class="text-center mb-3 mt-3">Task Management</h2>
    <a href="/manage/addUserTask" class=" btn floating-action-button"
      ><i class="fas fa-plus" /></a
    >

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Aufgabe</th>
          <th scope="col">Zuständiger</th>
          <th scope="col">Stellvertreter</th>
        </tr>
      </thead>
      <tbody>
        {#each userTaskList as task, i}
          <tr>
            <th scope="row">{globalTS.dateFormatter(task.date)}</th>
            <td>{task.task.name}</td>
            <td
              >{task.user_assigned.first_name +
                " " +
                task.user_assigned.last_name}</td
            >
            <td
              >{task.user_assigned_dep.first_name +
                " " +
                task.user_assigned_dep.last_name}</td
            >
            <td>
              <button
                class="btn btn-primary"
                on:click={async () => {
                  await userTasks.deleteTask(task.user_task_id);
                  getUserTasks();
                }}><i class="fas fa-trash" /></button
              ></td
            >
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>

<style>
  .floating-action-button {
    margin: 10px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #0069ff;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
</style>
