<!-- All tasks dashboard -->
<script>
  import Card from "../../components/card.svelte";
  import userTaks from "../../ts/userTasks";
  import user from "../../ts/user";
  import globalTS from "../../ts/global";
  let user_id;

  (async () => (user_id = (await user.get()).user_id))();

  let tomorrow = new Date(Date.now() + 3600 * 1000 * 24)
    .toISOString()
    .slice(0, 10);
  let lastDateOfWeek = new Date(
    new Date().setDate(new Date().getDate() - new Date().getDay() + 7)
  )
    .toISOString()
    .slice(0, 10);
  let todaysTasks = [];

  async function getTodaysTasks() {
    todaysTasks = await userTaks.get(
      "?startDate=" +
        new Date().toISOString().slice(0, 10) +
        "&endDate=" +
        new Date().toISOString().slice(0, 10)
    );
  }
</script>

<div class="row d-flex justify-content-center">
  <div
    class="ps-0 me-sm-1 me-lg-4 me-md-0 ms-xl-4 ms-md-0 ms-sm-1 white-box col-xl-3 col-lg-4 col-md-11 col-sm-11 col-11"
  >
    <h2 class="text-center mb-3 mt-3">Heute</h2>
    <div class="col-12 pt-3">
      {#await getTodaysTasks() then}
        {#each todaysTasks as task}
          <Card taskProperties={task} />
        {/each}
      {/await}
    </div>
  </div>
  <div
    class="ms-xl-5 ms-md-0 ms-sm-1 white-box col-xl-6 col-lg-6 col-md-11 col-sm-11 d-none d-sm-flex"
  >
    <div class="col-12">
      <h2 class="text-center mb-3 mt-3">Diese Woche</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Aufgabe</th>
            <th scope="col">Zuständiger</th>
            <th scope="col">Stellvertreter</th>
          </tr>
        </thead>
        <tbody>
          {#await userTaks.get("?startDate=" + tomorrow + "&endDate=" + lastDateOfWeek) then tasks}
            {#each tasks as task}
              <tr>
                <th scope="row">{globalTS.dateFormatter(task.date)}</th>
                <td>{task.task.name}</td>
                <td
                  >{task.user_assigned.first_name +
                    " " +
                    task.user_assigned.last_name}</td
                >
                <td
                  >{task.user_assigned_dep.first_name +
                    " " +
                    task.user_assigned_dep.last_name}</td
                >
              </tr>
            {/each}
          {/await}
        </tbody>
      </table>
    </div>
  </div>
</div>
