<!-- Personal dashboard -->
<script>
  import Card from "../../components/card.svelte";
  import userTasks from "../../ts/userTasks";
  import Loading from "../../components/Loading.svelte";
  import user from "../../ts/user";
  import { onMount } from "svelte";
  let user_id;
  let todaysTasks = [];

  let tomorrow = new Date(Date.now() + 3600 * 1000 * 24)
    .toISOString()
    .slice(0, 10);
  let dateInTwoWeeks = new Date(new Date().setDate(new Date().getDate() + 14))
    .toISOString()
    .slice(0, 10);

  async function getTodaysTasks() {
    todaysTasks = await userTasks.get(
      `?startDate=${new Date().toISOString().slice(0, 10)}&endDate=${new Date()
        .toISOString()
        .slice(0, 10)}&user_id=${user_id}`
    );
  }

  (async () => {
    user_id = (await user.get()).user_id;
    getTodaysTasks();
  })();
</script>

<div class="row">
  <div class="col-sm-7 col-md-5 col-12 mx-auto">
    <div class="ms-0 ms-md-5 white-box col-12 no-min-height pt-3 pb-5">
      <h2 class="text-center mb-3 mt-3">Heute</h2>
      <div class="pt-3">
        {#if todaysTasks.length == 0}
          <div class="d-flex justify-content-center row text-center">
            <img src="/img/not_found.png" class="w-25" alt="" />
            <p class="mt-3">Wohoo, keine Ämtlis in Sicht!</p>
          </div>
        {/if}
        {#each todaysTasks as task}
          <div class="col-12">
            <Card
              taskProperties={task}
              color={task.user_id_dep != user_id ? "black" : "#6C757D"}
            />
          </div>
        {/each}
      </div>
    </div>
    <div class="ms-0 ms-md-5 white-box col-12 no-min-height pt-3 pb-5">
      <h2 class="text-center mb-3 mt-3">Kommend</h2>
      <div class="pt-3">
        {#await userTasks.get(`?startDate=${tomorrow}&user_id=${user_id}&endDate=${dateInTwoWeeks}`) then tasks}
          {#if tasks.length == 0}
            <div class="d-flex justify-content-center row text-center">
              <img src="/img/not_found.png" class="w-25" alt="" />
              <p class="mt-3">Wohoo, keine Ämtlis in Sicht!</p>
            </div>
          {/if}
          {#each tasks as task}
            {#if task.user_id_dep != user_id}
              <div class="col-12">
                <Card taskProperties={task} future={true} />
              </div>
            {/if}
          {/each}
        {/await}
      </div>
    </div>
  </div>
</div>

<style>
  .no-min-height {
    min-height: 0% !important;
  }
</style>
