<script>
  import userTasks from "../ts/userTasks";
  export let taskProperties;
  export let future = false;
  export let color = "black";
  import globalTS, { dateToTime } from "../ts/global";
  // @ts-ignore
  let user_name =
    taskProperties.user_assigned.first_name +
    " " +
    taskProperties.user_assigned.last_name;
  // @ts-ignore
  let user_name_dep =
    taskProperties.user_assigned_dep.first_name +
    " " +
    taskProperties.user_assigned_dep.last_name;

  function isPast(dateTime, isDone, hasStatus) {
    if (
      Date.parse(dateTime) - Date.parse(new Date().toString()) < 0 &&
      !isDone &&
      hasStatus
    ) {
      return "❗";
    } else {
      return "";
    }
  }
</script>

<button
  class="ps-0 col-12 button-card"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#taskModal-{taskProperties.user_task_id}"
>
  <div class="d-flex align-items-center col-12" style="color: {color};">
    {#if !future}
      <div
        class="indicatorBox {!taskProperties.task.hasStatus
          ? 'no-status'
          : taskProperties.isDone
          ? 'done'
          : 'notDone'}"
      />
    {/if}
    <img
      class="ms-2"
      width="50px"
      src="/img/task_images/{taskProperties.task.img_name}"
      alt=""
    />
    <div class="ps-3">
      <h4>
        {taskProperties.task.name}
        <span class="notDoneSymbol"
          >{isPast(
            taskProperties.date,
            taskProperties.isDone,
            taskProperties.task.hasStatus
          )}</span
        >
      </h4>
      {#if !future}
        <p>{user_name} / {user_name_dep}</p>
      {:else}
        {globalTS.dateFormatter(taskProperties.date)}
      {/if}
    </div>
  </div>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="taskModal-{taskProperties.user_task_id}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {taskProperties.task.name}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        />
      </div>
      <div class="modal-body">
        <p class="fw-bold">Zuständiger: {user_name}</p>
        <p>Stellvertreter: {user_name_dep}</p>

        {#if taskProperties.task.hasStatus}
          <p>
            Deadline: {dateToTime(new Date(taskProperties.task.deadline_time))}
          </p>
          {#if taskProperties.status_updated_by != null}
            <p class="text-muted fst-italic">
              Status geändert von {taskProperties.status_updated_by}
            </p>
          {/if}
        {/if}
      </div>
      {#if taskProperties.task.hasStatus && !future}
        <div class="modal-footer d-flex justify-content-center">
          <button
            on:click={() => userTasks.changeStatus(taskProperties.task.task_id)}
            type="button"
            class="btn btn-primary"
            >{taskProperties.isDone
              ? "Status zurücksetzen"
              : "Ich bin fertig"}</button
          >
        </div>
      {/if}
    </div>
  </div>
</div>

<style>
  button {
    text-align: start;
    background-color: transparent;
    border: none;
  }
  h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .notDoneSymbol {
    font-size: 20px;
  }
  .done {
    background-color: #16c60c;
  }
  .no-status {
    background-color: orange;
  }
  .notDone {
    background-color: #f92b60;
  }

  .indicatorBox {
    border-radius: 0px 5px 5px 0px;
    float: left;
    width: 7px;
    margin-right: 20px;
    height: 60px;
  }
</style>
